@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To FinEd</h1>
    
    <h3>Learn about:</h3>
    <p>Pensions</p>
    <p>Mortgages</p>
    <p>Savings and Investments</p>
    <p>Tax</p>
</div>
